In [1]:
## all imports
from IPython.display import HTML
import numpy as np
import urllib
import bs4 #this is beautiful soup
import time
import operator
import socket
import _pickle  as cPickle
import re # regular expressions

from pandas import Series
import pandas as pd
from pandas import DataFrame

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_context("talk")
sns.set_style("white")

# from secret import *

In [2]:
a=np.zeros(3)

API registrations
=================

If you would like to run all the examples in this notebook, you need to register for the following APIs:

* Rotten Tomatoes

http://developer.rottentomatoes.com/member/register

* Twitter

https://apps.twitter.com/app/new

* Twitter instructions

https://twittercommunity.com/t/how-to-get-my-api-key/7033

CS109
=====

Verena Kaynig-Fittkau, Joe Blitzstein, Hanspeter Pfister

* vkaynig@seas.harvard.edu
* staff@cs109.org

Announcements
==============

* Over 400 sign ups on github!
* If you are still missing, fill out the survey, time is running out!
* Make sure you are on Piazza!


* More [git help](https://www.youtube.com/channel/UC0-KaiZFXBlGOFN71YsEV8g/videos)


* HW0 is due on Thursday 
* HW1 is coming out on Thursday

Todays lecture:
===============

* introduction to pandas
    - read a table
    - do some plots

* all about data scraping
* ***What is it? ***
* How to do it:
    - from a website
    - with an API

Answer: Data scraping is about obtaining data from webpages. There is low level scraping where you parse the data out of the html code of the webpage. There also is scraping over APIs from websites who try to make your life a bit easier.

IPython Notebooks:
===================

![IPython](images/ipython.png "IPython")

IPython Notebooks:
===================

* These slides are an IPython notebook!
* https://github.com/damianavila/live_reveal

In [5]:
print "Hello CS109"

print "I love IPython"

# Ipython notebook have tab completion!
# and inbuild help

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello CS109")? (<ipython-input-5-e378298a3d9a>, line 1)

General advice about programming
==================================

* You will find nearly everything on google
* Try: length of a list in python
* A programmer is someone who can turn stack overflow snippets into running code
* Use tab completion
* Make your variable names meaningful

How to load a table
===================

* we use Pandas for this
* Pandas can do a __lot__ more
* more about it later

The MovieLens data
===================

http://grouplens.org/datasets/movielens/

![Grouplens](images/grouplens.jpg "Grouplens")

Example inspired by [Greg Reda](http://www.gregreda.com/2013/10/26/using-pandas-on-the-movielens-dataset/)

Read the user data
==================

In [6]:
# pass in column names for each CSV
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']

users = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.user', 
    sep='|', names=u_cols)

users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [7]:
us40=users[users.age==40]
# users[us40.sex=='M']
us40[us40.sex=='M']

     user_id  age sex  occupation zip_code
18        19   40   M   librarian    02138
82        83   40   M       other    44133
115      116   40   M  healthcare    97232
199      200   40   M  programmer    93402
283      284   40   M   executive    92629
289      290   40   M    engineer    93550
308      309   40   M   scientist    70802
357      358   40   M    educator    10022
397      398   40   M       other    60008
564      565   40   M     student    55422
646      647   40   M    educator    45810
791      792   40   M  programmer    12205
841      842   40   M      writer    93055
917      918   40   M   scientist    70116

In [8]:
users[(users.age==40) & (users.sex=='M')]

     user_id  age sex  occupation zip_code
18        19   40   M   librarian    02138
82        83   40   M       other    44133
115      116   40   M  healthcare    97232
199      200   40   M  programmer    93402
283      284   40   M   executive    92629
289      290   40   M    engineer    93550
308      309   40   M   scientist    70802
357      358   40   M    educator    10022
397      398   40   M       other    60008
564      565   40   M     student    55422
646      647   40   M    educator    45810
791      792   40   M  programmer    12205
841      842   40   M      writer    93055
917      918   40   M   scientist    70116

In [9]:
users[(users.sex=='F') & (users.occupation=='programmer')].age.mean()

32.166666666666664

Read the ratings
============

In [10]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.data', 
    sep='\t', names=r_cols)

ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

Now data about the movies
=========================

In [11]:
# the movies file contains columns indicating the movie's genres
# let's only load the first five columns of the file with usecols
m_cols = ['movie_id', 'title', 'release_date', 
            'video_release_date', 'imdb_url']

movies = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.item', 
    sep='|', names=m_cols,  encoding="ISO-8859-1", usecols=range(5))

movies.head()

,movie_id,title,release_date,video_release_date,imdb_url
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)

Get information about data
=======================

In [12]:
print(movies.dtypes)
print
print(movies.describe())
# *** Why only those two columns? ***

movie_id                int64
title                  object
release_date           object
video_release_date    float64
imdb_url               object
dtype: object
          movie_id  video_release_date
count  1682.000000                 0.0
mean    841.500000                 NaN
std     485.695893                 NaN
min       1.000000                 NaN
25%     421.250000                 NaN
50%     841.500000                 NaN
75%    1261.750000                 NaN
max    1682.000000                 NaN

Selecting data
==============

* DataFrame => group of Series with shared index
* single DataFrame column => Series

In [13]:
users.head()
users['occupation'].head()
## *** Where did the nice design go? ***
columns_you_want = ['occupation', 'sex'] 
print(users[columns_you_want].head())

#print users.head()

#print users.iloc[3]

   occupation sex
0  technician   M
1       other   F
2      writer   M
3  technician   M
4       other   F

Filtering data
==============

Select users older than 25

In [14]:
oldUsers = users[users.age > 25]
oldUsers.head()

   user_id  age sex     occupation zip_code
1        2   53   F          other    94043
4        5   33   F          other    15213
5        6   42   M      executive    98101
6        7   57   M  administrator    91344
7        8   36   M  administrator    05201

Quiz:
=====

* show users aged 40 and male

* show the mean age of female programmers

In [15]:
# users aged 40 AND male
users[(users.age == 40) & (users.sex == 'M')].head(3)

     user_id  age sex  occupation zip_code
18        19   40   M   librarian    02138
82        83   40   M       other    44133
115      116   40   M  healthcare    97232

In [16]:
## users who are female and programmers
selected_users = users[(users.sex == 'F') & 
                       (users.occupation == 'programmer')]

## show statistic summary
print(selected_users.describe())

## alternatives:
print(selected_users.age.mean())
print(selected_users['age'].mean())

          user_id        age
count    6.000000   6.000000
mean   411.166667  32.166667
std    149.987222   5.115336
min    292.000000  26.000000
25%    313.000000  28.250000
50%    378.000000  32.000000
75%    416.750000  36.500000
max    698.000000  38.000000
32.166666666666664
32.166666666666664

Split-apply-combine
===================

* splitting the data into groups based on some criteria
* applying a function to each group independently
* combining the results into a data structure

Split-apply-combine
===================

<img src=http://i.imgur.com/yjNkiwL.png></img>

Find Diligent Users
===================

* split data per user ID
* count ratings
* combine result

In [17]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [18]:
grouped_data = ratings.groupby('user_id')
grouped_data.movie_id.count().head()
# ratings[ratings["user?_id"]==4].count()

user_id
1    272
2     62
3     54
4     24
5    175
Name: movie_id, dtype: int64

In [19]:
col_n=["user_id","movie_id"]
ratings[col_n][ratings["user_id"]==4].count()

user_id     24
movie_id    24
dtype: int64

In [20]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [21]:
ratings.set_index(col_n).count(level="user_id")

         rating  unix_timestamp
user_id
1           272             272
2            62              62
3            54              54
4            24              24
5           175             175
...         ...             ...
939          49              49
940         107             107
941          22              22
942          79              79
943         168             168

[943 rows x 2 columns]

In [22]:
print(ratings.groupby('user_id').describe())
print(ratings.groupby(ratings.user_id))
ratings.movie_id.groupby(ratings.user_id).count()

        movie_id                                                        \
           count        mean         std    min     25%    50%     75%
user_id
1          272.0  136.500000   78.663842    1.0   68.75  136.5  204.25
2           62.0  249.500000   93.021194    1.0  260.75  285.5  300.75
3           54.0  318.814815   33.955061  181.0  304.00  328.5  341.75
4           24.0  291.041667   90.440218   11.0  269.25  313.5  356.25
5          175.0  291.291429  140.223880    1.0  172.50  370.0  413.50
...          ...         ...         ...    ...     ...    ...     ...
939         49.0  514.081633  337.429365    9.0  257.00  411.0  756.00
940        107.0  346.850467  268.088791    4.0  169.00  286.0  495.00
941         22.0  357.818182  304.156701    1.0  155.50  283.5  443.25
942         79.0  429.113924  275.959352   31.0  225.00  347.0  561.50
943        168.0  379.089286  303.931875    2.0  130.75  277.5  569.25

                rating            ...           unix_timestamp                \
            max  count      mean  ...  75%  max          count          mean
user_id                           ...
1         272.0  272.0  3.610294  ...  5.0  5.0          272.0  8.773916e+08
2         316.0   62.0  3.709677  ...  4.0  5.0           62.0  8.886204e+08
3         355.0   54.0  2.796296  ...  4.0  5.0           54.0  8.892372e+08
4         362.0   24.0  4.333333  ...  5.0  5.0           24.0  8.920028e+08
5         457.0  175.0  2.874286  ...  4.0  5.0          175.0  8.762081e+08
...         ...    ...       ...  ...  ...  ...            ...           ...
939      1277.0   49.0  4.265306  ...  5.0  5.0           49.0  8.802614e+08
940      1401.0  107.0  3.457944  ...  4.0  5.0          107.0  8.858471e+08
941      1007.0   22.0  4.045455  ...  5.0  5.0           22.0  8.750489e+08
942      1221.0   79.0  4.265823  ...  5.0  5.0           79.0  8.912829e+08
943      1330.0  168.0  3.410714  ...  4.0  5.0          168.0  8.856693e+08

                                                                             \
                  std          min           25%          50%           75%
user_id
1        3.501456e+06  874965478.0  8.750724e+08  876892446.5  8.785428e+08
2        1.587989e+05  888549960.0  8.885509e+08  888551647.0  8.885521e+08
3        1.797867e+02  889236939.0  8.892371e+08  889237224.0  8.892374e+08
4        1.030289e+03  892001374.0  8.920024e+08  892002353.0  8.920035e+08
5        1.240813e+06  875635064.0  8.756361e+08  875636691.0  8.757211e+08
...               ...          ...           ...          ...           ...
939      5.130169e+02  880260636.0  8.802609e+08  880261291.0  8.802619e+08
940      9.296419e+05  884800898.0  8.859212e+08  885921577.0  8.859219e+08
941      2.017608e+02  875048495.0  8.750489e+08  875048974.0  8.750490e+08
942      2.884992e+02  891282355.0  8.912827e+08  891282931.0  8.912831e+08
943      5.518687e+06  875409939.0  8.886389e+08  888639478.0  8.886400e+08


                 max
user_id
1        889751736.0
2        888980240.0
3        889237482.0
4        892004520.0
5        879198898.0
...              ...
939      880262319.0
940      889480582.0
941      875049144.0
942      891283517.0
943      888693184.0

[943 rows x 24 columns]
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000023878953940>

user_id
1      272
2       62
3       54
4       24
5      175
      ...
939     49
940    107
941     22
942     79
943    168
Name: movie_id, Length: 943, dtype: int64

print(ratings.head())
## split data
#grouped_data = ratings.groupby('user_id')
grouped_data = ratings['movie_id'].groupby(ratings['user_id'])

## count and combine
#ratings_per_user = grouped_data.count()

#ratings_per_user.head(5)

Quiz
====

* get the average rating per movie
* advanced: get the movie titles with the highest average rating

In [23]:
# ratings - > split by movie-Id and count
groupedByNumberOfRating=ratings.set_index(["movie_id","rating"]).count(level="movie_id")
groupedByNumberOfRating

          user_id  unix_timestamp
movie_id
1             452             452
2             131             131
3              90              90
4             209             209
5              86              86
...           ...             ...
1678            1               1
1679            1               1
1680            1               1
1681            1               1
1682            1               1

[1682 rows x 2 columns]

In [24]:

# 50tadan ko'p ovoz berilgan kinolani indexi == movie_id
setWeNeedIndexes = groupedByNumberOfRating[groupedByNumberOfRating["user_id"]>50].index
# print(groupedByNumberOfRating.user_id.describe())
# print(groupedByNumberOfRating[groupedByNumberOfRating.index==1036])
# print(setWeNeedIndexes.shape)
setWeNeedIndexes

Int64Index([   1,    2,    3,    4,    5,    7,    8,    9,   10,   11,
            ...
            1035, 1039, 1041, 1047, 1048, 1065, 1073, 1074, 1101, 1119],
           dtype='int64', name='movie_id', length=593)

In [25]:
# setWeNeedIndexes digi kinolani olib undan highest rating yeg'gan kinolani olamiz

# movie_id index qilinadi keyin ushanga qarab group qilamiz va mean=average hisoblimiz
seriesofRatingofAll=ratings.set_index(["movie_id"]).groupby(level="movie_id").mean().rating

# group by -> movie_id | average_value  shulani ichidan 50tadan ko'p ovoz berilaganlani olamiz
seriesofRatingWithManyVotes = seriesofRatingofAll[seriesofRatingofAll.index.isin(setWeNeedIndexes)]
maxVal = seriesofRatingWithManyVotes.max()
# print(seriesofRatingWithManyVotes[seriesofRatingWithManyVotes>4.2])
indexesofGoodMovies = seriesofRatingWithManyVotes[seriesofRatingWithManyVotes > 4.2].index
# seriesofRatingWithManyVotes.describe()
indexesofGoodMovies

# groupedByNumberOfRating[groupedByNumberOfRating.index.isin(setWeNeedIndexes)]

Int64Index([ 12,  50,  64,  98, 114, 127, 134, 169, 172, 174, 178, 272, 285,
            313, 318, 357, 408, 427, 474, 479, 480, 483, 484, 511, 513, 515,
            603, 657],
           dtype='int64', name='movie_id')

In [26]:
movieSerTojoin=movies[movies[["movie_id","title"]].set_index('movie_id').index.isin(indexesofGoodMovies)].set_index('movie_id')
movieSerTojoin.join(seriesofRatingWithManyVotes)[["title","rating"]]

                                                      title    rating
movie_id
12                               Usual Suspects, The (1995)  4.385768
50                                         Star Wars (1977)  4.358491
64                         Shawshank Redemption, The (1994)  4.445230
98                         Silence of the Lambs, The (1991)  4.289744
114       Wallace & Gromit: The Best of Aardman Animatio...  4.447761
127                                   Godfather, The (1972)  4.283293
134                                     Citizen Kane (1941)  4.292929
169                              Wrong Trousers, The (1993)  4.466102
172                         Empire Strikes Back, The (1980)  4.204360
174                          Raiders of the Lost Ark (1981)  4.252381
178                                     12 Angry Men (1957)  4.344000
272                                Good Will Hunting (1997)  4.262626
285                                   Secrets & Lies (1996)  4.265432
313                                          Titanic (1997)  4.245714
318                                 Schindler's List (1993)  4.466443
357                  One Flew Over the Cuckoo's Nest (1975)  4.291667
408                                   Close Shave, A (1995)  4.491071
427                            To Kill a Mockingbird (1962)  4.292237
474       Dr. Strangelove or: How I Learned to Stop Worr...  4.252577
479                                          Vertigo (1958)  4.251397
480                               North by Northwest (1959)  4.284916
483                                       Casablanca (1942)  4.456790
484                              Maltese Falcon, The (1941)  4.210145
511                               Lawrence of Arabia (1962)  4.231214
513                                   Third Man, The (1949)  4.333333
515                                        Boot, Das (1981)  4.203980
603                                      Rear Window (1954)  4.387560
657                        Manchurian Candidate, The (1962)  4.259542

In [27]:
 
ratingWithIndexMovie_id = ratings.rating.groupby(ratings["movie_id"])
averageRating = ratingWithIndexMovie_id.mean()
maxval = averageRating.max()
goodMovArr= averageRating[averageRating==maxval].index
print(movies[movies["movie_id"].isin(goodMovArr)]["title"])

# # groupby movie_id  == split by movie_id
# ratingWithIndexMovie_id = ratings.set_index("movie_id")
# # print(ratingWithIndexMovie_id)
# splitedByMovie_id = ratingWithIndexMovie_id.groupby(level="movie_id")
# ratinsGroupedWithMean=splitedByMovie_id.rating.mean()
# # print(ratinsGroupedWithMean.sort_values(ascending=False).head())
# fin =movies[["movie_id","title"]].join(ratinsGroupedWithMean)
# # ratings[ratings["movie_id"]==1293].rating.mean()
# fin[fin.rating==ratinsGroupedWithMean.max()]

813                         Great Day in Harlem, A (1994)
1121                       They Made Me a Criminal (1939)
1188                                   Prefontaine (1997)
1200           Marlene Dietrich: Shadow and Light (1996)
1292                                      Star Kid (1997)
1466                 Saint of Fort Washington, The (1993)
1499                            Santa with Muscles (1996)
1535                                 Aiqing wansui (1994)
1598                        Someone Else's America (1995)
1652    Entertaining Angels: The Dorothy Day Story (1996)
Name: title, dtype: object

In [28]:
print(str(ratings[ratings["movie_id"]==814].rating.mean()) +"aa"+ str(movies[movies.movie_id==814].title))

print(ratings[ratings["movie_id"]==815].rating.mean(),movies[movies.movie_id==815].title)
# ratings[ratings["movie_id"]==814].rating.mean()
# movies[movies["movie_id"]==814].title
# movies

5.0aa813    Great Day in Harlem, A (1994)
Name: title, dtype: object
3.232142857142857 814    One Fine Day (1996)
Name: title, dtype: object

In [29]:
# maxRating  = ratinsGroupedWithMean.max()
# goodmovieIds = ratinsGroupedWithMean[ratinsGroupedWithMean == maxRating].index
movies[["movie_id","title"]].join(ratinsGroupedWithMean).max()
# movies[movies.movie_id.isin(goodmovieIds)].join(ratinsGroupedWithMean)[["title","rating"]]

NameError: name 'ratinsGroupedWithMean' is not defined

In [ ]:
ratings[ratings["movie_id"]==1682].rating.mean()

In [ ]:
ratings[ratings["movie_id"]==1682]

In [ ]:
ratinsGroupedWithMean.max()

In [ ]:
## split data
grouped_data = ratings['rating'].groupby(ratings['movie_id'])
## average and combine
average_ratings = grouped_data.mean()
print("Average ratings:")
print(average_ratings.head())
print

maximum_rating = average_ratings.max()
print(maximum_rating)
good_movie_ids = average_ratings[average_ratings == maximum_rating].index
print(good_movie_ids)

In [ ]:
print "Good movie ids:"
print good_movie_ids
print

print "Best movie titles"
print movies[movies.movie_id.isin(good_movie_ids)].title
print

In [ ]:
how_many_ratings = grouped_data.count()
print("Number of ratings per movie")
print(how_many_ratings[average_ratings.ratings == maximum_rating])

Passing a Function
==================

In [ ]:
average_ratings = grouped_data.apply(lambda f: f.mean())
average_ratings.head()

In [ ]:
grouped_data

Quiz
====

* get the average rating per user
* advanced: list all occupations and if they are male or female dominant

In [ ]:
grouped_data=ratings.rating.groupby(ratings.user_id)
grouped_data.mean()

In [ ]:
grouped_data2= ratings[["user_id","rating"]].set_index("user_id").groupby(level="user_id")
grouped_data2.mean()

In [ ]:
# list of all occupation  AND if they are male or female dominant
subset = users[["occupation","sex"]].set_index("occupation").groupby(level="occupation")

subset.describe()

In [ ]:
grouped_data = ratings['rating'].groupby(ratings['user_id'])
average_ratings = grouped_data.mean()
average_ratings.head()

In [ ]:
grouped_data = users['sex'].groupby(users['occupation'])
male_dominant_occupations = grouped_data.apply(lambda f: 
                                             str("M "+str(sum(f == 'M'))+" - F "+ str(sum(f == 'F'))))
print(grouped_data)
print(male_dominant_occupations)
print('\n')

In [ ]:
print('number of male users: ')
print(sum(users['sex'] == 'M'))

print('number of female users: ')
print(sum(users['sex'] == 'F'))

Pandas "wrapup"
==========

- create data frames
- get sub-frames
- filter data 
- use group-by
- apply a user defined function


![cute panda](images/cute_panda.jpg)

Python data scraping
====================

* Why scrape the web?
    - vast source of information
    - automate tasks
    - keep up with sites
    - fun!

** Can you think of examples ? **

  
Answer: Some examples we had were stock market monitoring, sports data, or airline prices.

Read and Tweet!
=================

![ReadTweet](http://developer.nytimes.com/files/readtweet.jpg)

* by Justin Blinder
* http://projects.justinblinder.com/We-Read-We-Tweet

“We Read, We Tweet” geographically visualizes the dissemination of New York Times articles through Twitter. Each line connects the location of a tweet to the contextual location of the New York Times article it referenced. The lines are generated in a sequence based on the time in which a tweet occurs. The project explores digital news distribution in a temporal and spatial context through the social space of Twitter.

Twitter Sentiments
=================

![TwitterSentiments](http://www.csc.ncsu.edu/faculty/healey/tweet_viz/figs/tweet-viz-ex.png
 "Twitter Sentiments")

* by Healey and Ramaswamy
* http://www.csc.ncsu.edu/faculty/healey/tweet_viz/tweet_app/

Type a keyword into the input field, then click the Query button. Recent tweets that contain your keyword are pulled from Twitter and visualized in the Sentiment tab as circles. Hover your mouse over a tweet or click on it to see its text.

Python data scraping
====================

* copyrights and permission:
    - be careful and polite
    - give credit
    - care about media law
    - don't be evil (no spam, overloading sites, etc.)

Robots.txt
==========

![Robots.txt](images/robots_txt.jpg "Robots.txt")

Robots.txt
==========

* specified by web site owner
* gives instructions to web robots (aka your script)
* is located at the top-level directory of the web server

http://www.example.com/robots.txt

If you want you can also have a look at

http://google.com/robots.txt

Robots.txt
==========

*** What does this one do? ***


User-agent: Google
Disallow:

User-agent: *
Disallow: /

Answer: This file allows google to search through everything on the server, while all others should stay completely away.

Things to consider:
-------------------

* can be just ignored
* can be a security risk - *** Why? ***

Answer: You are basically telling everybody who cares to look into the file where you have stored sensitive information.

Scraping with Python:
=====================

* scraping is all about HTML tags
* bad news: 
    - need to learn about tags
    - websites can be ugly

HTML
=====

* HyperText Markup Language

* standard for creating webpages

* HTML tags 
    - have angle brackets
    - typically come in pairs

This is an example for a minimal webpage defined in HTML tags. The root tag is `<html>` and then you have the `<head>` tag. This part of the page typically includes the title of the page and might also have other meta information like the author or keywords that are important for search engines. The `<body>` tag marks the actual content of the page. You can play around with the `<h2>` tag trying different header levels. They range from 1 to 6.

In [30]:
htmlString = """<!DOCTYPE html>
<html>
  <head>
    <title>This is a title</title>
  </head>
  <body>
    <h2> Test </h2>
    <p>Hello world!</p>
  </body>
</html>"""

htmlOutput = HTML(htmlString)
htmlOutput

Useful Tags
===========

* heading
`<h1></h1> ... <h6></h6>`

* paragraph
`<p></p>` 

* line break
`<br>` 

* link with attribute

`<a href="http://www.example.com/">An example link</a>`

Scraping with Python:
=====================

* example of a beautifully simple webpage:

http://www.crummy.com/software/BeautifulSoup

Scraping with Python:
=====================

* good news: 
    - some browsers help
    - look for: inspect element
    - need only basic html
    
** Try 'Ctrl-Shift I' in Chrome **

** Try 'Command-Option I' in Safari **

Scraping with Python
==================

* different useful libraries:
    - urllib
    - beautifulsoup
    - pattern
    - soupy
    - LXML
    - ...

The following cell just defines a url as a string and then reads the data from that url using the `urllib` library. If you uncomment the print command you see that we got the whole HTML content of the page into the string variable source.

In [32]:
url = 'http://www.crummy.com/software/BeautifulSoup'
source = urllib.request.urlopen(url).read()
print(source)

b'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"\n"http://www.w3.org/TR/REC-html40/transitional.dtd">\n<html>\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=utf-8">\n<title>Beautiful Soup: We called him Tortoise because he taught us.</title>\n<link rev="made" href="mailto:leonardr@segfault.org">\n<link rel="stylesheet" type="text/css" href="/nb/themes/Default/nb.css">\n<meta name="Description" content="Beautiful Soup: a library designed for screen-scraping HTML and XML.">\n<meta name="generator" content="Markov Approximation 1.4 (module: leonardr)">\n<meta name="author" content="Leonard Richardson">\n</head>\n<body bgcolor="white" text="black" link="blue" vlink="660066" alink="red">\n<style>\n#tidelift { }\n\n#tidelift a {\n border: 1px solid #666666;\n margin-left: auto;\n padding: 10px;\n text-decoration: none;\n}\n\n#tidelift .cta {\n background: url("tidelift.svg") no-repeat;\n padding-left: 30px;\n}\n</style>\t\t   \n\n<img align="right" src="10.1.jpg" width="250"><br />\n\n<p>[ <a href="#Download">Download</a> | <a\nhref="bs4/doc/">Documentation</a> | <a href="#HallOfFame">Hall of Fame</a> | <a href="enterprise.html">For enterprise</a> | <a href="https://code.launchpad.net/beautifulsoup">Source</a> | <a href="https://bazaar.launchpad.net/%7Eleonardr/beautifulsoup/bs4/view/head:/CHANGELOG">Changelog</a> | <a href="https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup">Discussion group</a>  | <a href="zine/">Zine</a> ]</p>\n\n<div align="center">\n\n<a href="bs4/download/"><h1>Beautiful Soup</h1></a>\n\n</div>\n\n<p>You didn\'t write that awful page. You\'re just trying to get some\ndata out of it. Beautiful Soup is here to help. Since 2004, it\'s been\nsaving programmers hours or days of work on quick-turnaround\nscreen scraping projects.</p>\n\n<p>Beautiful Soup is a Python library designed for quick turnaround\nprojects like screen-scraping. Three features make it powerful:\n\n<ol>\n\n<li>Beautiful Soup provides a few simple methods and Pythonic idioms\nfor navigating, searching, and modifying a parse tree: a toolkit for\ndissecting a document and extracting what you need. It doesn\'t take\nmuch code to write an application\n\n<li>Beautiful Soup automatically converts incoming documents to\nUnicode and outgoing documents to UTF-8. You don\'t have to think\nabout encodings, unless the document doesn\'t specify an encoding and\nBeautiful Soup can\'t detect one. Then you just have to specify the\noriginal encoding.\n\n<li>Beautiful Soup sits on top of popular Python parsers like <a\nhref="http://lxml.de/">lxml</a> and <a\nhref="http://code.google.com/p/html5lib/">html5lib</a>, allowing you\nto try out different parsing strategies or trade speed for\nflexibility.\n\n</ol>\n\n<p>Beautiful Soup parses anything you give it, and does the tree\ntraversal stuff for you. You can tell it "Find all the links", or\n"Find all the links of class <tt>externalLink</tt>", or "Find all the\nlinks whose urls match "foo.com", or "Find the table heading that\'s\ngot bold text, then give me that text."\n\n<p>Valuable data that was once locked up in poorly-designed websites\nis now within your reach. Projects that would have taken hours take\nonly minutes with Beautiful Soup.\n\n<p>Interested? <a href="bs4/doc/">Read more.</a>\n\n<h3>Getting and giving support</h3>\n\n<div id="tidelift" align="center">\n<a href="https://tidelift.com/subscription/pkg/pypi-beautifulsoup4?utm_source=pypi-beautifulsoup4&utm_medium=referral&utm_campaign=enterprise" target="_blank">\n <span class="cta">\n  Beautiful Soup for enterprise available via Tidelift\n </span>\n</a>\n</div>\n\n<p>If you have questions, send them to <a\nhref="https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup">the discussion\ngroup</a>. If you find a bug, <a href="https://bugs.launchpad.net/beautifulsoup/">file it on Launchpad</a>. If it\'s a security vulnerability, report it confidentially through <a href="https://tidelift.com/security">Tidelift</a>.</p>\n\n<p>If you use Beautiful Soup as part of your work, please consider a <a href="https://tidelift.com/subscription/pkg/pypi-beautifulsoup4?utm_source=pypi-beautifulsoup4&utm_medium=referral&utm_campaign=website">Tidelift subscription</a>. This will support many of the free software projects your organization depends on, not just Beautiful Soup.\n\n\n<p>If Beautiful Soup is useful to you on a personal level, you might like to read <a href="zine/"><i>Tool Safety</i></a>, a short zine I wrote about what I learned about software development from working on Beautiful Soup. Thanks!</p>\n</div>\n\n\n<a name="Download"><h2>Download Beautiful Soup</h2></a>\n\n<p>The current release is <a href="bs4/download/">Beautiful Soup\n4.9.3</a> (October 3, 2020). You can install Beautiful Soup 4 with\n<code>pip install beautifulsoup4</code>.\n\n<p>In Debian and Ubuntu, Beautiful Soup is available as the\n<code>python-bs4</code> package (for Python 2) or the\n<code>python3-bs4</code> package (for Python 3). In Fedora it\'s\navailable as the <code>python-beautifulsoup4</code> package.\n\n<p>Beautiful Soup is licensed under the MIT license, so you can also\ndownload the tarball, drop the <code>bs4/</code> directory into almost\nany Python application (or into your library path) and start using it\nimmediately. (If you want to do this under Python 3, you will need to\nmanually convert the code using <code>2to3</code>.)\n\n<p>Beautiful Soup 4 works on both Python 2 (2.7+) and Python\n3. Support for Python 2 will be discontinued on or after December 31,\n2020&mdash;one year after the Python 2 sunsetting date.\n\n<h3>Beautiful Soup 3</h3>\n\n<p>Beautiful Soup 3 was the official release line of Beautiful Soup\nfrom May 2006 to March 2012. It does not support Python 3 and it will\nbe discontinued on or after December 31, 2020&mdash;one year after the\nPython 2 sunsetting date. If you have any active projects using\nBeautiful Soup 3, you should migrate to Beautiful Soup 4 as part of\nyour Python 3 conversion.\n\n<p><a\nhref="http://www.crummy.com/software/BeautifulSoup/bs3/documentation.html">Here\'s\nthe Beautiful Soup 3 documentation.</a>\n\n<p>The current and hopefully final release of Beautiful Soup 3 is <a\nhref="download/3.x/BeautifulSoup-3.2.2.tar.gz">3.2.2</a> (October 5,\n2019). It\'s the <code>BeautifulSoup</code> package on pip. It\'s also\navailable as <code>python-beautifulsoup</code> in Debian and Ubuntu,\nand as <code>python-BeautifulSoup</code> in Fedora.\n\n<p>Once Beautiful Soup 3 is discontinued, these package names will be available for use by a more recent version of Beautiful Soup.\n\n<p>Beautiful Soup 3, like Beautiful Soup 4, is <a href="https://tidelift.com/subscription/pkg/pypi-beautifulsoup?utm_source=pypi-beautifulsoup&utm_medium=referral&utm_campaign=website">supported through Tidelift</a>.</p>\n\n<a name="HallOfFame"><h2>Hall of Fame</h2></a>\n\n<p>Over the years, Beautiful Soup has been used in hundreds of\ndifferent projects. There\'s no way I can list them all, but I want to\nhighlight a few high-profile projects. Beautiful Soup isn\'t what makes\nthese projects interesting, but it did make their completion easier:\n\n<ul>\n\n<li><a\n href="http://www.nytimes.com/2007/10/25/arts/design/25vide.html">"Movable\n Type"</a>, a work of digital art on display in the lobby of the New\n York Times building, uses Beautiful Soup to scrape news feeds.\n\n<li>Jiabao Lin\'s <a\nhref="https://github.com/BlankerL/DXY-COVID-19-Crawler">DXY-COVID-19-Crawler</a>\nuses Beautiful Soup to scrape a Chinese medical site for information\nabout COVID-19, making it easier for researchers to track the spread\nof the virus. (Source: <a href="https://blog.tidelift.com/how-open-source-software-is-fighting-covid-19">"How open source software is fighting COVID-19"</a>)\n\n<li>Reddit uses Beautiful Soup to <a\nhref="https://github.com/reddit/reddit/blob/85f9cff3e2ab9bb8f19b96acd8da4ebacc079f04/r2/r2/lib/media.py">parse\na page that\'s been linked to and find a representative image</a>.\n\n<li>Alexander Harrowell uses Beautiful Soup to <a\n href="http://www.harrowell.org.uk/viktormap.html">track the business\n activities</a> of an arms merchant.\n\n<li>The developers of Python itself used Beautiful Soup to <a\nhref="http://svn.python.org/view/tracker/importer/">migrate the Python\nbug tracker from Sourceforge to Roundup</a>.\n\n<li>The <a href="http://www2.ljworld.com/">Lawrence Journal-World</a>\nuses Beautiful Soup to <A\nhref="http://www.b-list.org/weblog/2010/nov/02/news-done-broke/">gather\nstatewide election results</a>.\n\n<li>The <a href="http://esrl.noaa.gov/gsd/fab/">NOAA\'s Forecast\nApplications Branch</a> uses Beautiful Soup in <a\nhref="http://laps.noaa.gov/topograbber/">TopoGrabber</a>, a script for\ndownloading "high resolution USGS datasets."\n\n</ul>\n\n<p>If you\'ve used Beautiful Soup in a project you\'d like me to know\nabout, please do send email to me or <a\nhref="http://groups.google.com/group/beautifulsoup/">the discussion\ngroup</a>.\n\n<h2>Development</h2>\n\n<p>Development happens at <a\nhref="https://launchpad.net/beautifulsoup">Launchpad</a>. You can <a\nhref="https://code.launchpad.net/beautifulsoup/">get the source\ncode</a> or <a href="https://bugs.launchpad.net/beautifulsoup/">file\nbugs</a>.<hr><table><tr><td valign="top">\n<p>This document (<a href="/source/software/BeautifulSoup/index.bhtml">source</a>) is part of Crummy, the webspace of <a href="/self/">Leonard Richardson</a> (<a href="/self/contact.html">contact information</a>). It was last modified on Saturday, October 03 2020, 15:42:16 Nowhere Standard Time and last built on Friday, January 08 2021, 14:00:01 Nowhere Standard Time.</p><p><table class="licenseText"><tr><td><a href="http://creativecommons.org/licenses/by-sa/2.0/"><img border="0" src="/nb//resources/img/somerights20.jpg"></a></td><td valign="top">Crummy is &copy; 1996-2021 Leonard Richardson. Unless otherwise noted, all text licensed under a <a href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons License</a>.</td></tr></table></span><!--<rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"><Work rdf:about="http://www.crummy.com/"><dc:title>Crummy: The Site</dc:title><dc:rights><Agent><dc:title>Crummy: the Site</dc:title></Agent></dc:rights><dc:format>text/html</dc:format><license rdf:resource=http://creativecommons.org/licenses/by-sa/2.0//></Work><License rdf:about="http://creativecommons.org/licenses/by-sa/2.0/"></License></rdf:RDF>--></p></td><td valign=top><p><b>Document tree:</b>\n<dl><dd><a href="http://www.crummy.com/">http://www.crummy.com/</a><dl><dd><a href="http://www.crummy.com/software/">software/</a><dl><dd><a href="http://www.crummy.com/software/BeautifulSoup/">BeautifulSoup/</a></dl>\n</dl>\n</dl>\n\n\nSite Search:\n\n<form method="get" action="/search/">\n        <input type="text" name="q" maxlength="255" value=""></input>\n        </form>\n        </td>\n\n</tr>\n\n</table>\n</body>\n</html>\n'

Quiz :
======

* Is the word 'Alice' mentioned on the beautiful soup homepage?
* How often does the word 'Soup' occur on the site?
    - hint: use `.count()`
* At what index occurs the substring 'alien video games' ?
    - hint: use `.find()`

In [34]:
## is 'Alice' in source?
 
bl = 'Alice' in str(source)
print(bl)

## count occurences of 'Soup'
print(str(source).count('Soup'))

## find index of 'alien video games'
position =  str(source).find('alien video games')
print(position)

## quick test to see the substring in the source variable
## you can access strings like lists
print(source[position:position + 20])

## or the tidier version:
print(source[position:position + len('alien video games')])

False
50
-1
b''
b''

Beautiful Soup
==============

* designed to make your life easier
* many good functions for parsing html code

Some examples
=============

In [ ]:
## get bs4 object
soup = bs4.BeautifulSoup(source)
 
## compare the two print statements
#print soup
#print soup.prettify()

## show how to find all a tags
soup.findAll('a')

## ***Why does this not work? ***
#soup.findAll('Soup')

The last command only returns an empty list, because `Soup` is not an HTML tag. It is just a string that occours in the webpage.

Some examples
=============

In [ ]:
## get attribute value from an element:
## find tag: this only returns the first occurrence, not all tags in the string
first_tag = soup.find('a')

## get attribute `href`
first_tag.get('href')

## get all links in the page
link_list = [l.get('href') for l in soup.findAll('a')]
link_list

In [ ]:
## filter all external links
# create an empty list to collect the valid links
external_links = []

# write a loop to filter the links
# if it starts with 'http' we are happy
for l in link_list:
    if l[:4] == 'http':
        external_links.append(l)

# this throws an error! It says something about 'NoneType'

In [ ]:
# lets investigate. Have a close look at the link_list:
link_list

# Seems that there are None elements!
# Let's verify
#print sum([l is None for l in link_list])

# So there are two elements in the list that are None!

In [ ]:
# Let's filter those objects out in the for loop
external_links = []

# write a loop to filter the links
# if it is not None and starts with 'http' we are happy
for l in link_list:
    if l and l[:4] == 'http':
        external_links.append(l)
        
external_links

Note: The above `if` condition works because of lazy evaluation in Python. The `and` statement becomes `False` if the first part is `False`, so there is no need to ever evaluate the second part. Thus a `None` entry in the list gets never asked about its first four characters.

In [ ]:
# and we can put this in a list comprehension as well, it almost reads like 
# a sentence.

[l for l in link_list if l is not None and l.startswith('http')]

Parsing the Tree
================

In [ ]:
# redifining `s` without any line breaks
s = """<!DOCTYPE html><html><head><title>This is a title</title></head><body><h3> Test </h3><p>Hello world!</p></body></html>"""
## get bs4 object
tree = bs4.BeautifulSoup(s)

## get html root node
root_node = tree.html

## get head from root using contents
head = root_node.contents[0]

## get body from root
body = root_node.contents[1]

## could directly access body
tree.body

Quiz:
=====

* Find the `h3` tag by parsing the tree starting at `body`
* Create a list of all __Hall of Fame__ entries listed on the Beautiful Soup webpage
    - hint: it is the only unordered list in the page (tag `ul`)

In [ ]:
## get h3 tag from body
body.contents[0]

In [ ]:
## use ul as entry point
entry_point = soup.find('ul')

## get hall of fame list from entry point
## skip the first entry 
hall_of_fame_list = entry_point.contents[1:]

## reformat into a list containing strings
tmp = []
for li in hall_of_fame_list:
    tmp.append(li.contents)

`tmp` now is actually a list of lists containing the hall of fame entries. 
Here is some advanced Python on how to print really just one entry per list item.

The cool things about this are: 
* The use of `""` to just access the `join` function of strings.
* The `join` function itself
* that you can actually have two nested for loops in a list comprehension

In [ ]:
test =  ["".join(str(a) for a in sublist) for sublist in tmp]
print '\n'.join(test)

Advanced Example
===============

Idea by [Jesse Steinweg-Woods](https://jessesw.com/Data-Science-Skills/)
--------------------------------------------------------------------------------

Scraping data science skills
=============================

- What skills are in demand for data scientists?
- Should we have a lecture on Spark or only on MapReduce?

We want to scrape the information from job advertisements for data scientists from indeed.com
Let's scrape and find out!

In [ ]:
# Fixed url for job postings containing data scientist
url = 'http://www.indeed.com/jobs?q=data+scientist&l='
# read the website
source = urllib2.urlopen(url).read()
# parse html code
bs_tree = bs4.BeautifulSoup(source)

In [ ]:
# see how many job postings we found
job_count_string = bs_tree.find(id = 'searchCount').contents[0]
job_count_string = job_count_string.split()[-1]
print("Search yielded %s hits." % (job_count_string))

# not that job_count so far is still a string, 
# not an integer, and the , separator prevents 
# us from just casting it to int

job_count_digits = [int(d) for d in job_count_string if d.isdigit()]
job_count = np.sum([digit*(10**exponent) for digit, exponent in 
                    zip(job_count_digits[::-1], range(len(job_count_digits)))])

print job_count

In [ ]:
# The website is only listing 10 results per page, 
# so we need to scrape them page after page
num_pages = int(np.ceil(job_count/10.0))

base_url = 'http://www.indeed.com'
job_links = []
for i in range(20): #do range(num_pages) if you want them all
    if i%10==0:
        print num_pages-i
    url = 'http://www.indeed.com/jobs?q=data+scientist&start=' + str(i*10)
    html_page = urllib2.urlopen(url).read() 
    bs_tree = bs4.BeautifulSoup(html_page)
    job_link_area = bs_tree.find(id = 'resultsCol')
    job_postings = job_link_area.findAll("div")
    job_postings = [jp for jp in job_postings if not jp.get('class') is None 
                    and ''.join(jp.get('class')) =="rowresult"]
    job_ids = [jp.get('data-jk') for jp in job_postings]
    
    # go after each link
    for id in job_ids:
        job_links.append(base_url + '/rc/clk?jk=' + id)

    time.sleep(1)

print "We found a lot of jobs: ", len(job_links)

Some precautions to enable us to restart our search
=========================

In [ ]:
# Save the scraped links
#with open('scraped_links.pkl', 'wb') as f:
#    cPickle.dump(job_links, f)
    
# Read canned scraped links
with open('scraped_links.pkl', 'r') as f:
    job_links = cPickle.load(f)

In [ ]:
skill_set = {'mapreduce': 0, 'spark': 0}

## write initialization into a file, so we can restart later
#with open('scraped_links_restart.pkl', 'wb') as f:
#    cPickle.dump((skill_set, 0),f)

Python Dictonaries
==================

* build in data type
* uses key: value pairs

In [ ]:
a = {'a': 1, 'b':2}
print a

#show keys
print a.keys()

#show values
print a.values()

#show for loop over all entries
# option 1 using zip
# this works also for iterating over any
# other two lists
for k,v in zip(a.keys(), a.values()):
    print k,v

# option 2 using the dictionary `iteritems()` function
for k,v in a.iteritems():
    print k,v

In [ ]:
# This code below does the trick, but could be optimized for speed if necessary
# e.g. skills are typically listed at the end of the webpage
# might not need to split/join the whole webpage, as we already know
# which words we are looking for 
# and could stop after the first occurance of each word

with open('scraped_links_restart.pkl', 'r') as f:
    skill_set, index = cPickle.load(f)
    print "How many websites still to go? ", len(job_links) - index

In [ ]:
counter = 0

for link in job_links[index:]:
    counter +=1  
    
    try:
        html_page = urllib2.urlopen(link).read()
    except urllib2.HTTPError:
        print "HTTPError:"
        continue
    except urllib2.URLError:
        print "URLError:"
        continue
    except socket.error as error:
        print "Connection closed"
        continue

    html_text = re.sub("[^a-z.+3]"," ", html_page.lower()) # replace all but the listed characters
        
    for key in skill_set.keys():
        if key in html_text:  
            skill_set[key] +=1
            
    if counter % 5 == 0:
        print len(job_links) - counter - index
        print skill_set
        with open('scraped_links_restart.pkl','wb') as f:
            cPickle.dump((skill_set, index+counter),f)

In [ ]:
print skill_set

In [ ]:
pseries = pd.Series(skill_set)
pseries.sort(ascending=False)

pseries.plot(kind = 'bar')
## set the title to Score Comparison
plt.title('Data Science Skills')
plt.xlabel('Skills')
plt.ylabel('Count')
plt.show()

Some more regular expressions:
=================

Another Example
================

Designed by Katharine Jarmul
----------------------------

https://github.com/kjam/python-web-scraping-tutorial

Scraping Happy Hours
====================

Scrape the happy hour list of LA for personal preferences

http://www.downtownla.com/3_10_happyHours.asp?action=ALL

This example is part of her talk about data scraping at PyCon2014. She is a really good speaker and I enjoyed watching her talk. Check it out: http://www.youtube.com/watch?v=p1iX0uxM1w8

In [ ]:
true=false=1
js = {"ok":true,"result":[{"update_id":811619514,
"message":{"message_id":62,"from":{"id":971769511,"is_bot":false,"first_name":"David","username":"David_Dispatch"},"chat":{"id":-429846946,"title":"Delinks Anestal / Baudouin Vernet #274335 (C) 862-944-0227 / 516-540-1020","type":"group","all_members_are_administrators":true},"date":1610109954,"new_chat_participant":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_member":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_members":[{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"}]}},{"update_id":811619515,
"message":{"message_id":63,"from":{"id":971769511,"is_bot":false,"first_name":"David","username":"David_Dispatch"},"chat":{"id":-324585048,"title":"Marc Petit Frere / Lawens Devieux #274337 (C) 786-346-6203 / 786-914-8578","type":"group","all_members_are_administrators":true},"date":1610109982,"new_chat_participant":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_member":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_members":[{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"}]}},{"update_id":811619516,
"message":{"message_id":64,"from":{"id":971769511,"is_bot":false,"first_name":"David","username":"David_Dispatch"},"chat":{"id":-324585048,"title":"Marc Petit Frere / Lawens Devieux #274337 (C) 786-346-6203 / 786-914-8578","type":"group","all_members_are_administrators":true},"date":1610109982,"new_chat_participant":{"id":1494951998,"is_bot":true,"first_name":"ZMXC ANNOUNCEMENT","username":"accntntBot"},"new_chat_member":{"id":1494951998,"is_bot":true,"first_name":"ZMXC ANNOUNCEMENT","username":"accntntBot"},"new_chat_members":[{"id":1494951998,"is_bot":true,"first_name":"ZMXC ANNOUNCEMENT","username":"accntntBot"}]}},{"update_id":811619517,
"message":{"message_id":65,"from":{"id":971769511,"is_bot":false,"first_name":"David","username":"David_Dispatch"},"chat":{"id":-489231010,"title":"(MEX) Suleiman Abdallah / Kalid Abdi #273603 (C) 612-442-4538 / 612-807-4083","type":"group","all_members_are_administrators":true},"date":1610110010,"new_chat_participant":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_member":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_members":[{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"}]}},{"update_id":811619518,
"message":{"message_id":66,"from":{"id":971769511,"is_bot":false,"first_name":"David","username":"David_Dispatch"},"chat":{"id":-472698309,"title":"Doston Murotkulov #895638 (25%) 929-777-1736/347-698-4670","type":"group","all_members_are_administrators":true},"date":1610110035,"new_chat_participant":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_member":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_members":[{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"}]}},{"update_id":811619519,
"message":{"message_id":67,"from":{"id":971769511,"is_bot":false,"first_name":"David","username":"David_Dispatch"},"chat":{"id":-431358046,"title":"Ramil Zaripov #4048 (OO) 980-309-3938 / 917-426-5949","type":"group","all_members_are_administrators":true},"date":1610110059,"new_chat_participant":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_member":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_members":[{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"}]}},{"update_id":811619520,
"message":{"message_id":68,"from":{"id":971769511,"is_bot":false,"first_name":"David","username":"David_Dispatch"},"chat":{"id":-484874116,"title":"Khusniddin Olimkhujaev #1977 (OO) 917-400-7717","type":"group","all_members_are_administrators":true},"date":1610110082,"new_chat_participant":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_member":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_members":[{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"}]}},{"update_id":811619521,
"message":{"message_id":69,"from":{"id":971769511,"is_bot":false,"first_name":"David","username":"David_Dispatch"},"chat":{"id":-423242460,"title":"Pierre Anglade / Wadlin Noradin #274338 (C) 321-978-9165 / 321-430-9245","type":"group","all_members_are_administrators":true},"date":1610110306,"new_chat_participant":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_member":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_members":[{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"}]}},{"update_id":811619522,
"message":{"message_id":70,"from":{"id":971769511,"is_bot":false,"first_name":"David","username":"David_Dispatch"},"chat":{"id":-428264448,"title":"Dieujuste Frantzley / Garynaldo Morency #293308 (C) 786-600-5877 / 786-219-5340","type":"group","all_members_are_administrators":true},"date":1610110336,"new_chat_participant":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_member":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_members":[{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"}]}},{"update_id":811619523,
"message":{"message_id":71,"from":{"id":971769511,"is_bot":false,"first_name":"David","username":"David_Dispatch"},"chat":{"id":-289620474,"title":"Charles Cato / Michael Carter #255445 (C) 678-920-0572 / 908-808-3650","type":"group","all_members_are_administrators":true},"date":1610110364,"new_chat_participant":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_member":{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"},"new_chat_members":[{"id":1491041145,"is_bot":true,"first_name":"gtid","username":"gtid_bot"}]}},{"update_id":811619524,
"message":{"message_id":72,"from":{"id":1125450541,"is_bot":false,"first_name":"Max","last_name":"Jackson","username":"jascson"},"chat":{"id":-423242460,"title":"Pierre Anglade / Wadlin Noradin #274338 (C) 321-978-9165 / 321-430-9245","type":"group","all_members_are_administrators":true},"date":1610110374,"new_chat_participant":{"id":1125450541,"is_bot":false,"first_name":"Max","last_name":"Jackson","username":"jascson"},"new_chat_member":{"id":1125450541,"is_bot":false,"first_name":"Max","last_name":"Jackson","username":"jascson"},"new_chat_members":[{"id":1125450541,"is_bot":false,"first_name":"Max","last_name":"Jackson","username":"jascson"}]}}]}


big_strr=""
for group in js["result"]:
    chat = group["message"]["chat"]
    big_strr=big_strr+"["+str(chat["id"])+",'"+chat["title"]+"'],"
    # print("["+str(chat["id"])+",'"+chat["title"]+"'],")
print(big_strr)

In [ ]:
stuff_i_like = ['burger', 'sushi', 'sweet potato fries', 'BBQ','beer']
found_happy_hours = []
my_happy_hours = []
# First, I'm going to identify the areas of the page I want to look at
url = 'http://www.downtownla.com/3_10_happyHours.asp?action=ALL'
source = urllib2.urlopen(url).read()
tables = bs4.BeautifulSoup(source)

In [ ]:
# Then, I'm going to sort out the *exact* parts of the page
# that match what I'm looking for...
for t in tables.findAll('p', {'class': 'calendar_EventTitle'}):
    text = t.text
    for s in t.findNextSiblings():
        text += '\n' + s.text
    found_happy_hours.append(text)

print "The scraper found %d happy hours!" % len(found_happy_hours)

In [ ]:
# Now I'm going to loop through the food I like
# and see if any of the happy hour descriptions match
for food in stuff_i_like:
    for hh in found_happy_hours:
        # checking for text AND making sure I don't have duplicates
        if food in hh and hh not in my_happy_hours:
            print "YAY! I found some %s!" % food
            my_happy_hours.append(hh)

print "I think you might like %d of them, yipeeeee!" % len(my_happy_hours)

In [ ]:
# Now, let's make a mail message we can read:
message = 'Hey Katharine,\n\n\n'
message += 'OMG, I found some stuff for you in Downtown, take a look.\n\n'
message += '==============================\n'.join(my_happy_hours)
message = message.encode('utf-8')
# To read more about encoding:
# http://diveintopython.org/xml_processing/unicode.html
message = message.replace('\t', '').replace('\r', '')
message += '\n\nXOXO,\n Your Py Script'

#print message

Getting Data with an API
=========================

* API: application programming interface
* some sites try to make your life easier
* Twitter, New York Times, ImDB, rotten Tomatoes, Yelp, ...

Rotten Tomatoes
===============

![The Wizard of Oz](images/wiz_oz.png "The wizard of Oz")

http://www.rottentomatoes.com/top/

API keys
=========

* required for data access
* identifies application (you)
* monitors usage
* limits rates

Rotten Tomatoes Key
===================

http://developer.rottentomatoes.com/member/register

In [ ]:
import json
import requests

api_key = rottenTomatoes_key()

url = 'http://api.rottentomatoes.com/api/public/v1.0/lists/dvds/top_rentals.json?apikey=' + api_key
data = urllib2.urlopen(url).read()
#print data

JSON
======

* JavaScript Object Notation
* human readable
* transmit attribute-value pairs

In [ ]:
a = {'a': 1, 'b':2}
s = json.dumps(a)
a2 = json.loads(s)

## a is a dictionary
print a
## vs s is a string containing a in JSON encoding
print s
## reading back the keys are now in unicode
print a2

In [ ]:
## create dictionary from JSON 
dataDict = json.loads(data)

## explore dictionary
print "Starting keys:"
print dataDict.keys()
print

## there is a key named `movies` containing a list of movies as a value
movies = dataDict['movies']

## each element of the list `movies` is a dictionary
print "Movie keys:"
print movies[0].keys()
print

In [ ]:
## one of the keys is called `ratings`
## the value is yet another dictionary
print "Movie rating keys:"
print movies[0]['ratings'].keys()
print

## so we made it all the way to find the critics score
print "Movie critics score rating:"
print movies[0]['ratings']['critics_score']
print

Quiz
=====

* build a list with critics scores
* build a list with audience scores

In [ ]:
# critics scores list
critics_scores = [m['ratings']['critics_score'] for m in movies]

# audience scores list
audience_scores = [m['ratings']['audience_score'] for m in movies]

The following code shows how to create a pandas data frame with the data we gathered from the webpage.
Beware of the `set_index()` function in pandas. Per default it does not change the actual data frame! You need to either reassign the output or set the `inplace` argument to `True`.

In [ ]:
## create pandas data frame with critics and audience score
scores = pd.DataFrame(data=[critics_scores, audience_scores]).transpose()
scores.columns = ['critics', 'audience']

## also create a list with all movie titles
movie_titles = [m['title'] for m in movies]

## set index of dataFrame BEWARE of inplace!
scores.set_index([movie_titles])

## the line above does not changes scores!
## You need to either reassign

scores = scores.set_index([movie_titles])

## or set the inplace argument to True
scores.set_index([movie_titles], inplace=True)
scores.head(3)

In [ ]:
## create a bar plot with the data
## notice that we are using the data frame itself and call its plot function
scores.plot(kind = 'bar')

## set the title to Score Comparison
plt.title('Score Comparison')

## set the x label
plt.xlabel('Movies')

## set the y label
plt.ylabel('Scores')

In [ ]:
## show the plot
plt.show()

Twitter Example:
================

* API a bit more complicated
* libraries make life easier
* python-twitter

https://github.com/bear/python-twitter

What we are going to do is scrape Joe's twitter account, and then filter it for the interesting tweets. Defining interesting as tweets that have be re-tweeted at least 10 times.

In [ ]:
import twitter

## define the necessary keys
cKey = twitterAPI_key()
cSecret = twitterAPI_secret()
aKey = twitterAPI_access_token_key()
aSecret = twitterAPI_access_token_secret()

## create the api object with the twitter-python library
api = twitter.Api(consumer_key=cKey, consumer_secret=cSecret, access_token_key=aKey, access_token_secret=aSecret)

In [ ]:
## get the user timeline with screen_name = 'stat110'
twitter_statuses = api.GetUserTimeline(screen_name = 'stat110')

## create a data frame
## first get a list of panda Series or dict
pdSeriesList = [pd.Series(t.AsDict()) for t in twitter_statuses]

## then create the data frame
data = pd.DataFrame(pdSeriesList)

data.head(2)

In [ ]:
## filter tweets with enough retweet_count
maybe_interesting = data[data.retweet_count>20]

## get the text of these tweets
tweet_text = maybe_interesting.text

## print them out
text = tweet_text.values

for t in text:
    print '######'
    print t

Extracting columns:
===================

__Warning:__ The returned column `tweet_text` is a `view` on the data
    
* it is not a copy
* you change the Series => you change the DataFrame

Below is another example of such a view:

In [ ]:
## create a view for favorite_count on maybe_interesting
view = maybe_interesting['favorite_count']
print '-----------------'
print "This is view:"
print view
## change a value
view[8] = 9999

## look at original frame
print '-----------------'
print "This is view after changing view[8]"
print view

print '-----------------'
print "This is maybe_interesting after changing view[8]"
print "It changed too!"
print maybe_interesting['favorite_count']

## to avoid this you can use copy
independent_data = maybe_interesting['favorite_count'].copy()
independent_data[10] = 999
print '-----------------'
print "This is independent_data after changed at 10:"
print independent_data
print '-----------------'
print "This is maybe_interesting after changing independent_data:"
print "It did not change because we only changed a copy of it"
print maybe_interesting['favorite_count']

What we covered today:
============

* Pandas data frames
* Guidelines for friendly scraping
* Scraping html sites
* Scraping with Api's
* Basic data cleanup

Further material
================

* I highly recommend Katharine Jarmul's scraping tutorials
* For example [this one](https://www.youtube.com/watch?v=p1iX0uxM1w8)
* Pandas has extensive [documentation](http://pandas.pydata.org/pandas-docs/stable/)
* Especially the [tem minutes to pandas chapter](http://pandas.pydata.org/pandas-docs/stable/10min.html)

* [Greg Reda](http://www.gregreda.com/2013/10/26/using-pandas-on-the-movielens-dataset/) did a lot more pandas examples for the movie lens data set